<!DOCTYPE html>
<html>
  <head>
    <title>&Chill</title>
    <link rel="icon" href="https://fontmeme.com/permalink/210712/d771840cc81544caa68c05af6257d67c.png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
